{% load staticfiles %}

<html>
    <head>
        <title>Add {{ field }}</title>
        <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    </head>

    <body>
        <h1>Add {{ field }}</h1>

        <form method="POST" action="/add/{{ field }}">
            {% csrf_token %}

            <table>
                {{ form.as_table }}
            </table>

            <div style="margin-top: 1em;">
                <input type="submit" value="Add" /> | <a href="javascript:window.close()">Cancel</a>
            </div>
        </form>
    </body>
</html>
